@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    height: 125px;
    width: 100%;
    background-color: black;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    padding: 48px 350px;
}

.left-side {
    display: flex;
}

.left-links {
    display: flex;
    padding-top: 24px;
    margin-left: 24px;
}

.nav__link {
    margin: 0 24px;
    color: white;
    font-size: 14px;
    transition: all white 300ms ease;
}

.nav__link:hover {
    text-decoration: underline solid white;
    padding-top: 4px;
}

.special {
    margin-top: 8px;
}

.special__link {
    border:#B60000;
    background-color: #B60000;
    color: #fff;
    padding: 12px 32px;
    font-size: 20px;
    cursor: pointer;
}

.special__link:hover {
    background-color: black;
    text-decoration: underline solid white;
    border: white;
}

.logo__1 {
    width: 320px;
    height: 64px;
}