@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    height: 125px;
    width: 100%;
    background-color: black;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    padding: 48px 350px;
}

.left-side {
    display: flex;
}

.left-links {
    display: flex;
    padding-top: 24px;
    margin-left: 24px;
}

.nav__link {
    margin: 0 24px;
    color: white;
    font-size: 14px;
    transition: all white 300ms ease;
}

.nav__link:hover {
    text-decoration: underline solid white 3px;
    text-underline-offset: 5px;
}

.special {
    margin-top: 8px;
}

.special__link {
    border:0.1875rem solid #aa272f;
    background-color: #aa272f;
    color: #fff;
    padding: 0.4375rem 1.5rem;
    font-size: 1.375rem;
    line-height: 1.09;
    min-height: 2.75rem;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    height: 44px;
    width: 178.92px;
    display: flex;
    align-items: center;
}

.special__link:hover {
    background-color: black;
    text-decoration: underline solid white;
    text-underline-offset: 1px;
    border: solid white;
}

.logo__1 {
    width: 320px;
    height: 64px;
}

#first-sec {
    background-image: url(images/Safeimagekit-resized-imgjpg);
    height: 75vh;
    width: 100%;
    position: relative;
}

.showcase {
    border-radius: 0;
    position: absolute;
    margin-top: calc(75vh/3);
    margin-left: 400px;
    background-color: black;
}

.showcase__header {
    font-size: 56px;
    padding: 32px 16px;
    color: white;
}

#second-sec {
    width: 100%;
}

#list__container {
    height: 110px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: #aa272f;
    transition: all 300ms ease;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.list__row {
    display: flex;
    justify-content: center;
    width: 1180px;
    margin: 0 auto;
    margin-top: 24px;
}

.category__links {
    display: flex;
    flex-wrap: wrap;
}

.category {
    margin-right: 24px;
    text-align: center;
    color: #fff;
    transition: all 300ms;
}

.category:hover {
    text-decoration: underline solid white 3px;
    text-underline-offset: 5px;
}

#menu {
    padding-top: 36px;
    background-color: black;
    height: 100vh;
}

.menu__container {
    display: flex;
    flex-direction: column;
    background-color: black;
}

#appetizers {
    margin-left: 360px;
}

#dim-sum,
#salad,
#soup,
#sushi,
#seafood,
#chicken,
#beef,
#noodles,
#vegetarian,
#desserts,
#mocktails,
#carafes,
#juices,
#soda,
#iced__tea,
#coffee,
#tea,
#water {
    margin-top: 84px;
    margin-left: 360px;
}

.app__heading {
    color: #fff;
}

.app__menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.bottom__row, .last__row, .top__four {
    display: flex;
}

.other__dishes {
    margin-left: 48px;
    margin-top: 32px;
    width: 260px;
    height: 330px;
}

.other__dish {
    margin-top: 32px;
    margin-right: 48px;
    width: 260px;
    height: 330px;
}

.lettuce__wraps {
    margin-top: 32px;
    width: 260px;
    height: 330px;
}

.food__img {
    width: 260px;
    height: 160px;
}

.title {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}

.price {
    padding-top: 8px;
    color: #fff;
    display: block;
    font-size: 14px;
}

.desc {
    padding-top: 8px;
    color: #fff;
    font-size: 13px;
}

.fa-angle-down {
    color: #EBEBEB;
    font-size: 32px;
    transition: all 300ms ease;
}

.lettuce__wraps:hover .fa-angle-down {
    color: #aa272f;
    transform: translateY(20%);
}

.other__dishes:hover .fa-angle-down {
    color: #aa272f;
    transform: translateY(20%);
}

.other__dish:hover .fa-angle-down {
    color: #aa272f;
    transform: translateY(20%);
}

.test:hover .fa-angle-down {
    color: #aa272f;
    transform: translateY(20%);
}

.first {
    padding-top: 40px;
    padding-left: 130px;
    text-align: center;
}

.second {
    padding-top: 16px;
    text-align: center;
    padding-left: 130px;
}

.third {
    padding-top: 12px;
    text-align: center;
    padding-left: 130px;
}

.fourth {
    padding-top: 56px;
    padding-left: 130px;
    text-align: center;
}

.fifth {
    padding-top: 26px;
    padding-left: 130px;
    text-align: center;
}

.sixth {
    padding-top: 2px;
    text-align: center;
    padding-left: 130px;
}

.seventh {
    padding-top: 25px;
    text-align: center;
    padding-left: 130px;
}

.eigth {
    padding-top: 61px;
    text-align: center;
    padding-left: 130px;
}

.ninth {
    padding-top: 97px;
    text-align: center;
    padding-left: 130px;
}

.food__desc {
    width: 260px;
    padding-left: 8px;
}

.the__rest {
    margin-top: 48px;
}

.tea__info {
    color: #fff;
    font-size: 14px;
    max-width: 650px;
    margin-left: 360px;
    margin-top: 84px;
}

.test {
    width: 614px;
    height: 72px;
    margin: 0 auto;
}

.meat__origins {
    display: flex;
    justify-content: center;
    margin-top: 84px;
    cursor: pointer;
}

.where {
    color: #fff;
    padding: 0 16px;
}

.where__arrow {
    padding-top: 6px;
}

.delivery__companies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fav__dishes {
    margin-top: 120px;
    margin-bottom: 72px;
    color: #fff;
}

.delivery__logo {
    width: 70px;
    height: 70px;
    margin: 0 56px;
}

#footer {
    margin-top: 160px;
    display: flex;
    width: 100%;
}

.footer__stuff {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__links {
    background-color: #aa272f;
    width: 100%;
    height: 130px;
    padding-top: 56px;
    padding-left: 240px;
}

.footer__link {
    margin-right: 24px;
    color: #fff;
    text-decoration: underline;
}

.copyright {
    color: #fff;
    background-color: #aa272f;
    padding-left: 240px;
    padding-bottom: 48px;
}

.social__media {
    background-color: #aa272f;
    display: flex;
    padding-top: 56px;
    padding-right: 540px;
}

.fa-brands {
    color: #fff;
    font-size: 24px;
    margin-right: 16px;
}

@media (max-width: 768px) {
    .logo__1 {
        width: 250px;
        height: 44px;
        position: absolute;
        left: 4px;
    }

    .left-links {
        right: 100px;
        position: relative;
    }

    .nav__link {
        font-size: 12px;
    }

    .find__us {
        width: 50px;
        display: inline-block;
    }

    .special__link {
        position: relative;
        right: 100px;
        padding: 8px 16px;
        font-size: 14px;
        line-height: 1.09;
        height: 24px;
        width: 100px;
    }

    #first-sec {
        background-image: url(images/tablet.png);
        position: relative;
    }

    .showcase {
        position: absolute;
        right: 400px;
        width: 250px;
    }

    .showcase__header {
        
        font-size: 40px;
        padding: 8px 16px;
    }
}